/* General Styles */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para las ventanas */
.welcome-window, .login-window {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    position: relative;
    top: 100px;
    display: none; /* Ocultas por defecto */
}

.welcome-window {
    display: block; /* Mostrar al cargar la página */
}

.btn-start {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn-start:hover {
    background-color: #0056b3;
}